input, label 
{
display:block;
}


div.fill {
    position:relative;
    display:flex;
    justify-content:center;
    overflow:hidden
}
div.fill img {
    min-width:100%;
    min-height:100%
}

li {
  margin-bottom:10px;
}

ul {
    margin: 0; 
    padding: 0;
    margin-left: 10px;
    list-style-type: none;
}

#num_cat{
    visibility: hidden;
}
#myDIV {
    box-shadow: 8px 8px 12px #aaa;
    background-color : green;
    color: white;
    margin:10px 15px 10px 15px;
     border:solid grey;
}

#col_pl{
    width:200px; 
    height:200px;
}
    
#col{
    color: white;
}

#deco{
    text-decoration: underline;
    list-style-type: none;
}
    
#h2_index{
    text-align : center; 
    text-decoration : underline;
}

.link{
    color: white;
    }
.link:hover{
    font-weight: bold;
    color: white;
}