input, label 
{
display:block;
}

div.fill {
    position:relative;
    display:flex;
    justify-content:center;
    overflow:hidden
}
div.fill img {
    min-width:100%;
    min-height:100%
}

li {
  margin-bottom:10px;
}

ul {
	margin: 0; 
	padding: 0;
	margin-left: 10px;
}